<!DOCTYPE html>
<html lang="pt-BR">
   <head>
      <%- include('../partials/head', { title: title }) %>
      <style>
         * {
            margin: 0;
            padding: 0;
         }

         body {
            display: flex;
            align-items: center;
            padding-top: 2.5rem;
         }

         .w-10 {
            width: 12%;
         }

         .w-95 {
            width: 75%;
         }

         @media (max-width: 1366px) {
            * {
               font-size: 0.83rem;
            }

            .caixa-externa {
               margin: 0 auto;
            }

            .w-10 {
               width: 12%;
            }
         }
      </style>
   </head>

   <body>
      <%- include('../partials/header') %>
      <div class="caixa w-95 p-4 mx-auto">
         <div class="border caixa-externa p-4 shadow-sm rounded">
            <form
               id="formulario-entrada"
               action="/form-solicitacao"
               method="post"
            >
               <div class="row align-items-center mb-3 px-3">
                  <h2
                     style="border-bottom: 4px solid orange"
                     class="text-white py-2 mt-0 fw-bold bg-success text-center"
                  >
                     Formulário de Solicitação
                  </h2>
               </div>

               <!-- Exibir mensagem de erro, se houver -->
               <% if (typeof error !== 'undefined' && error) { %>
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                     <%= error %>
                     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
               <% } %>

               <div id="row1" class="row">
                  <div class="col-md-2">
                     <div id="data_da_solicitacao-div" class="mb-3">
                        <label class="form-label fw-bold"
                           >Data de Solicitação</label
                        >
                        <input
                           id="data_da_solicitacao"
                           type="date"
                           class="form-control"
                           name="data_da_solicitacao"
                           value="<%= typeof data_da_solicitacao !== 'undefined' ? data_da_solicitacao : '' %>"
                        />
                     </div>
                  </div>

                  <div class="col-md-9">
                     <div id="solicitante-div" class="mb-3">
                        <label class="form-label fw-bold">Solicitante</label>
                        <input
                           id="solicitante"
                           name="solicitante"
                           type="text"
                           class="form-control"
                           value="<%= typeof solicitante !== 'undefined' ? solicitante : '' %>"
                        />
                     </div>
                  </div>

                  <div class="col-md-1">
                     <div id="qtd-div" class="mb-3">
                        <label class="form-label fw-bold">Quantidade</label>
                        <input
                           id="qtd"
                           type="number"
                           class="form-control"
                           name="qtd"
                           value="<%= typeof qtd !== 'undefined' ? qtd : '' %>"
                        />
                     </div>
                  </div>

                  <div class="col-md-9">
                     <div id="descricao-div" class="mb-3">
                        <label class="form-label fw-bold">Descrição</label>
                        <input
                           id="descricao"
                           type="text"
                           class="form-control"
                           name="descricao"
                           value="<%= typeof descricao !== 'undefined' ? descricao : '' %>"
                        />
                     </div>
                  </div>

                  <div class="col-md-3">
                     <div id="nup-div" class="mb-3">
                        <label class="form-label fw-bold">NUP</label>
                        <input
                           id="nup"
                           type="text"
                           class="form-control"
                           name="nup"
                           value="<%= typeof nup !== 'undefined' ? nup : '' %>"
                        />
                     </div>
                  </div>

                  <div class="col-md-12">
                     <div id="observacao-div" class="mb-3">
                        <label class="form-label fw-bold">Observação</label>
                        <textarea
                           id="observacao"
                           type="text"
                           class="form-control"
                           name="observacao"
                        ><%= typeof observacao !== 'undefined' ? observacao : '' %></textarea>
                     </div>
                  </div>

                  <div class="col-md-12 d-flex justify-content-center mt-4">
                     <button
                        id="btnRegistrar"
                        type="submit"
                        class="w-10 btn btn-success mx-1"
                     >
                        Registrar Solicitação
                     </button>
                     <button
                        id="btnLimpar"
                        type="button"
                        class="w-10 btn btn-warning mx-1"
                     >
                        Limpar
                     </button>
                  </div>
               </div>
            </form>
         </div>
      </div>

      <!-- Scripts necessários para o Bootstrap -->
      <script
         src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
         integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
         crossorigin="anonymous"
      ></script>
      <script
         src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
         integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
         crossorigin="anonymous"
      ></script>

      <!-- Validação do formulário e formatação do NUP -->
      <script>
         document.addEventListener('DOMContentLoaded', function () {
            // Função para formatar o NUP
            const formatarReferencia = (value) => {
               value = value.replace(/\D/g, ''); // Remove tudo que não é dígito
               value = value.slice(0, 17); // Limita a 17 dígitos
               const parts = [
                  value.slice(0, 5), // Primeira parte: 5 dígitos (ex.: 65465)
                  value.slice(5, 11), // Segunda parte: 6 dígitos (ex.: 465446)
                  value.slice(11, 15), // Terceira parte: 4 dígitos (ex.: 5465)
                  value.slice(15, 17), // Quarta parte: 2 dígitos (ex.: 46)
               ];
               return `NUP ${parts[0]}${parts[1] ? `.${parts[1]}` : ''}${
                  parts[2] ? `/${parts[2]}` : ''
               }${parts[3] ? `-${parts[3]}` : ''}`;
            };

            // Aplica formatação ao campo NUP
            const nupInput = document.getElementById('nup');
            nupInput.addEventListener('input', (e) => {
               e.target.value = formatarReferencia(e.target.value);
            });

            // Função para limpar o formulário
            document
               .getElementById('btnLimpar')
               .addEventListener('click', function () {
                  document.getElementById('formulario-entrada').reset();
               });
         });
      </script>
   </body>
</html>