<!DOCTYPE html>
<html lang="pt-BR">

<%- include('../partials/head', { title: 'Itens Pagos' }) %>

<style>
   * {
      margin: 0;
      padding: 0;
   }

   body {
      padding-top: 2.5rem;
   }

   .botoes {
      margin-bottom: 1.9rem;
   }
   
   .table-container {
      max-height: 72vh;
      overflow-y: auto;
      overflow-x: hidden;
      min-height: 72vh;
   }

   .table-container table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0;
   }

   .table-container th,
   .table-container td {
      word-wrap: break-word;
      white-space: nowrap;
      border: none !important;
   }

   .table-container thead th {
      position: sticky;
      top: 0;
      background-color: rgb(231, 161, 9);
      color: white;
      border-left: 1px solid white !important;
      border-right: none !important;
      border-top: none !important;
      border-bottom: 1px solid white !important;
      z-index: 1;
   }

   .table-container thead th:last-child {
      border-right: none !important;
   }

   .btn-action {
      width: 70px;
   }

   .modal.fade .modal-dialog {
      transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
      transform: translateY(-10%);
      opacity: 0;
   }

   .modal.show .modal-dialog {
      transform: translateY(0);
      opacity: 1;
   }

   .w-90 {
      width: 90% !important;
   }

   @media (max-width: 1920px) {
      .table-container {
         max-height: 56vh;
      }
   }

   /* Ajuste das colunas */
   .table-container th:nth-child(1), /* ID */
   .table-container td:nth-child(1) {
      width: 3%;
   }

   .table-container th:nth-child(2), /* Saida */
   .table-container td:nth-child(2) {
      width: 6%;
   }

   .table-container th:nth-child(3), /* Descrição */
   .table-container td:nth-child(3) {
      width: 35%;
   }

   .table-container th:nth-child(4), /* Tombo */
   .table-container td:nth-child(4) {
      width: 5%;
   }


   .table-container th:nth-child(5), /* Destino */
   .table-container td:nth-child(5) {
      width: 12%;
   }

   .table-container th:nth-child(7), /* Termo de entrega */
   .table-container td:nth-child(7) {
      width: 10%;
   }

   .table-container th:nth-child(8), /* Doc de Origem */
   .table-container td:nth-child(8) {
      width: 8%;
   }

   .table-container th:nth-child(9), /* Valor */
   .table-container td:nth-child(9) {
      width: 6%;
   }

   .table-container th:last-child, /* Ações */
   .table-container td:last-child {
      width: 7%;
   }
</style>

<body>
   <%- include('../partials/header') %>
   <div class="caixa p-4 mx-auto">
      <div class="border caixa-externa p-4 shadow-sm rounded">
         <div class="row align-items-center mb-3 px-3">
            <div class="col d-flex justify-content-between align-items-center bg-success py-2 rounded" style="border-bottom: 4px solid orange;">
               <h2 class="text-white mt-0 fw-bold flex-grow-1 text-center">Itens que saíram do estoque</h2>
               <div class="d-flex align-items-center">
                  <label for="formato" class="text-white me-2">Formato:</label>
                  <select id="formato" class="form-select form-select-sm me-2" style="width: auto;">
                     <option value="pdf">PDF</option>
                     <option value="excel">Excel</option>
                  </select>
                  <a href="#" id="exportarBtn" class="btn btn-outline-light btn-header fw-bold">Gerar Relatório</a>
               </div>
            </div>
         </div>
         <div class="table-container">
            <table class="table table-striped table-hover mb-0">
               <thead>
                  <tr>
                     <th class="text-center px-0 align-middle">ID</th>
                     <th class="text-center px-0 align-middle">Saída</th>
                     <th class="text-center px-0 align-middle">Descrição</th>
                     <th class="text-center px-0 align-middle">Tombo</th>
                     <th class="text-center px-0 align-middle">Destino</th>
                     <th class="text-center px-0 align-middle">NUP (Suite)</th>
                     <th class="text-center px-0 align-middle">Termo de Entrega</th>
                     <th class="text-center px-0 align-middle">Doc Origem</th>
                     <th class="text-center px-0 align-middle">Valor</th>
                     <th class="text-center px-0 align-middle">Vizualizar</th>
                  </tr>
               </thead>
               <tbody>
                  <% if (itensPagos.length > 0) { %>
                     <% itensPagos.forEach(function(item) { %>
                        <tr>
                           <td class="py-1 text-center align-middle"><%= item.id %></td>
                           <td class="py-1 text-center align-middle"><%= new Date(item.data_de_saida).toLocaleDateString('pt-BR') %></td>
                           <td class="py-1 text-center align-middle"><%= item.descricao.toUpperCase() %></td>
                           <td class="py-1 text-center align-middle"><%= item.tombo_estoqueatual %></td>
                           <td class="py-1 text-center align-middle"><%= item.destino.toUpperCase() %></td>
                           <td class="py-1 text-center align-middle"><%= item.referencia.toUpperCase() %></td>
                           <td class="py-1 text-center align-middle"><%= item.doc_saida.toUpperCase() %></td>
                           <td class="py-1 text-center align-middle"><%= item.doc_origem ? item.doc_origem.toUpperCase() : 'N/A' %></td>
                           <td class="py-1 text-center align-middle">
                              <% if (item.valor && !isNaN(parseFloat(item.valor))) { %>
                                 <%= parseFloat(item.valor).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) %>
                              <% } else { %>
                                 R$ 0,00
                              <% } %>
                           </td>
                           <td class="py-1 text-center align-middle w-10">
                              <button type="button" class="btn btn-secondary btn-sm btn-action" data-id="<%= item.id %>">Detalhes</button>
                           </td>
                        </tr>
                     <% }); %>
                  <% } else { %>
                     <tr>
                        <td colspan="10" class="text-center align-middle">Ainda não há itens Pagos</td>
                     </tr>
                  <% } %>
               </tbody>
            </table>
         </div>
      </div>
   </div>

   <script>
      document.addEventListener('DOMContentLoaded', () => {
         const viewButtons = document.querySelectorAll('.btn-action');
         viewButtons.forEach(button => {
            button.addEventListener('click', async (event) => {
               const itemId = event.target.getAttribute('data-id');
               const url = `/visualizar/itempago/${itemId}`;
               try {
                  console.log("Fetching data for item ID:", itemId);
                  const response = await fetch(url);
                  if (!response.ok) {
                     throw new Error(`ERRO: ${response.statusText.toUpperCase()}`);
                  }
                  const item = await response.json();
                  console.log("Data fetched:", item);
                  if (item) {
                     item.tombo = item.tombo_estoqueatual;
                     const modalHtml = `
                        <div class="modal fade show" id="infoTomboModal" tabindex="-1" aria-labelledby="infoTomboModalLabel" aria-hidden="true">
                           <div class="modal-dialog modal-dialog-centered" style="transform: scale(1);">
                           <div class="modal-content">
                              <div class="modal-header bg-success text-white d-flex justify-content-between">
                              <h3 class="modal-title ms-3" id="infoTomboModalLabel">Informações do item pago</h3>
                              <button type="button" class="btn text-white" data-bs-dismiss="modal" aria-label="Close">
                                 <i class="fa fa-times fa-lg"></i>
                              </button>
                              </div>
                              <div class="modal-body">
                              <div class="card">
                                 <div class="card-body pb-0">
                                    <h5 class="card-title">${item.descricao}</h5>
                                    <p class="card-text">
                                       <h5 class="bg-danger text-white p-2">DADOS DA SAÍDA</h5>
                                       <strong>TOMBO:</strong> ${item.tombo} <br/>
                                       <strong>DATA DA SAÍDA:</strong> ${new Date(item.data_de_saida).toLocaleDateString('pt-BR')} <br/>
                                       <strong>DESTINO:</strong> ${item.destino.toUpperCase()} <br/>
                                       <strong>REFERÊNCIA:</strong> ${item.referencia} <br/>
                                       <strong>DOC SAÍDA:</strong> ${item.doc_saida} <br/>
                                       <strong>DOC ORIGEM:</strong> ${item.doc_origem ? item.doc_origem.toUpperCase() : 'N/A'} <br/>
                                       <strong>VALOR:</strong> ${item.valor ? parseFloat(item.valor).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) : 'R$ 0,00'} <br>
                                       <strong>NOME COMPLETO:</strong> ${item.nome_completo.toUpperCase()} <br/>
                                       <strong>POSTO/GRADUAÇÃO:</strong> ${item.posto_graduacao} <br/>
                                       <strong>MAT FUNCIONAL:</strong> ${item.mat_funcional} <br/>
                                       <strong>TELEFONE:</strong> ${item.telefone} <br/>
                                       <strong>OBSERVAÇÃO:</strong> ${item.observacao.toUpperCase() || 'N/A'} <br/>
                                    </p>
                                 </div>
                              </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  `;
                     const modalDiv = document.createElement('div');
                     modalDiv.innerHTML = modalHtml;
                     document.body.appendChild(modalDiv);
                     const infoTomboModal = new bootstrap.Modal(document.getElementById('infoTomboModal'), {
                        backdrop: true,
                        focus: true
                     });
                     infoTomboModal.show();
                     infoTomboModal._element.addEventListener('hidden.bs.modal', () => {
                        modalDiv.remove();
                     });
                  }
               } catch (error) {
                  console.error('ERRO AO BUSCAR INFORMAÇÕES DO ITEM:', error.message.toUpperCase());
               }
            });
         });

         const exportarBtn = document.getElementById('exportarBtn');
         exportarBtn.addEventListener('click', (event) => {
            event.preventDefault();
            const formato = document.getElementById('formato').value;
            window.location.href = `/relatorio/itens-pagos?formato=${formato}`;
         });
      });
   </script>
</body>
</html>